<section class="mx-6 md:mx-8 lg:mx-12 pt-3"> 
  <div class="mt-7 mb-7">
    <%= form_tag app_freestyle_index_url, method: :get do %>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            </div>
            <%= text_field_tag :search, params[:search], placeholder: "Search exercises", class: "block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500", required: true %>
            <%= submit_tag "Search", class: "text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2"%>
        </div>
    <% end %>
  </div> 

  <%= will_paginate @freestyle_exercises  %>
  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-10">
    <% @freestyle_exercises.each do |freestyle_exercise|%>
      <li class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">  
        <%= image_tag( freestyle_exercise.gif_url, alt: freestyle_exercise.name, class: "rounded-t-lg") %>
        <div class="p-5">
          <h3 class="mb-2 text-1xl font-medium tracking-tight text-gray-700 dark:text-white"><%= freestyle_exercise.name.capitalize %></h3>
          <div class="flex align-center justify-between mb-8">
            <p class="mb-3 font-normal text-gray-400 text-sm">Target: <%= freestyle_exercise.target.capitalize%></p>
            <p class = "mb-3 font-normal text-gray-400 text-sm">Equipment: <%= freestyle_exercise.equipment.capitalize%></p>
          </div>    
          <%= link_to new_app_training_url(exercise: freestyle_exercise), class: "inline-flex items-center align-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300" do %>
            Start
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          <% end %>   
        </div>
      </li>  
    <% end %>
  </ul>
  <%= will_paginate @freestyle_exercises%> 
</section> 
