<% provide(:title, "Forgot password")%>
 <div class="w-full mb-10  bg-white rounded-lg shadow dark:border mt-10 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700 mx-auto">
  <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
      Forgot your password?
    </h1>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), class: "space-y-8", html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div>
          <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
          <%= f.email_field :email, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "abcde@gmail.com", :required => true %>
      </div>

      <%= f.submit "Reset", class: "w-[50%] align-left mt-5 text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800 cursor-pointer"%>
    <% end %>
    <div class="mb-10">
      <%= render "devise/shared/links" %>
    </div>
    
  </div>
</div>