<section class="flex flex-col items-center gap-4 bg-white   md:flex-row mx-3 "> 
   <%= image_tag(exercise_gif_url(@choosen_exercise) , class: "object-cover w-full rounded-t-lg md:h-full md:w-full md:rounded-none md:rounded-l-lg")%> 
    <%= form_with(model: @planned_workout, url:  app_planned_workouts_url, local: true, class: "w-full max-w-[28rem] md:max-w-lg mx-12", data: {turbo: false}) do |f|%>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <%= f.label :exercise_name, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"%>
          <%= f.text_field :exercise_name, readonly: true, value: @choosen_exercise.name, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"%>
        </div>
      </div>
       <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <%= f.label :date, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"%>
          <%= f.date_field :date, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"%>
        </div>
      </div>
      <div class="flex w-full justify-between align-center gap-3">
          <div class="w-full">
            <%= f.label :hours, class: 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'%>
            <%= f.select :hours, (0..12).to_a%>
          </div>
          <div class="w-full">
            <%= f.label :minutes, class: 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'%>
            <%= f.select :minutes,(0..59).to_a%>
          </div>
      </div>
      <div>
          <%= f.label :description, class: 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'%>
          <%= f.text_area :description, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-36"%>
      </div>   
      <%= f.hidden_field :exercise_id, value: @choosen_exercise.id %>
      <%= submit_tag 'Confirm', class: "text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 mt-12 " %>
    <% end %>
</section>
